
  <h1>{{titulo}}</h1>
  <div class="container p-3 mb-2 " id="info">
    <div class="row">
      <div class="col order-first">
        <p></p>
        <p>Primer Numero</p>
        <p>Segundo Numero</p>
        <p>Resultado</p>
      </div>
      <div class="col order-last">
        <form>
          <div class="mb-3 form-group">
            <input type="number" class="form-control" placeholder="Ingrese el primer numero" [(ngModel)]="numero1"
              name="Primer Numero">
          </div>
          <div class="mb-3 form-group">
            <input type="number" class="form-control" placeholder="Ingrese el segundo numero" [(ngModel)]="numero2"
              name="Segundo Numero">
            <p>= {{resultado}}</p>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container p-3 mb-2 " id="info">
    <div class="row">
      <div class="col order-first"><button type="submit" class="btn btn-success" (click)="onSumar()">Sumar</button></div>
      <div class="col order-center"><button type="submit" class="btn btn-warning" (click)="onRestar()">Restar</button></div>
      <div class="col order-center"><button type="submit" class="btn btn-secondary" (click)="onMultiplicar()">Multiplicar</button></div>
      <div class="col order-last"><button type="submit" class="btn btn-primary" (click)="onDividir()">Dividir</button></div>
    </div>
  </div>

