<h1>{{subtitulo}}</h1>
<div class="container p-3 mb-2 " id="Calcu">
  <div class="row">
    <div class="col order-first">

      <div class="container p-1 mb-2 " id="info">
        <div class="row">
          <div class="col order-last">
            <p>Dylan Alexis Tobar Orellana</p>
            <p>0907-18-9913</p>
            <p>Ing. Carlos Hernandez</p>
          </div>
          <div class="col order-first">
            <p>Nombre:</p>
            <p>Carnet:</p>
            <p>Docente:</p>
            <p>Segundo Examen Parcial</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
